<!doctype html>
<html lang="en">
	<head>

		<title>{{ title }} | Skeleton</title>

		<meta charset="utf-8">
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="shortcut icon" href="{{ root }}assets/images/favicon.ico" type="image/x-icon">

		<!-- Twitter Cards -->
		<!-- <meta name="twitter:card" content="summary_large_image"> -->
		<!-- <meta name="twitter:site" content="@"> -->

		<!-- Open Graph Protocol -->
		<!-- <meta property="og:type" content="website"> -->

		<!-- Open Graph protocol and Twitter Cards -->
		<!-- <meta property="og:title" content="{{ title }} | Skeleton"> -->
		<!-- <meta property="og:description" content=""> -->
		<!-- <meta property="og:image" content="{{ root }}assets/images/og.jpg"> -->

		<!-- CSS -->
		<link rel="stylesheet" href="{{ root }}assets/bower/normalize-css/normalize.css">
		<link rel="stylesheet" href="{{ root }}assets/styles/main.css">

		<!-- JS -->
		<script defer src="{{ root }}assets/scripts/main.js"></script>

	</head>
	<body>

		{% block body %}{% endblock %}

	</body>
</html>